::-webkit-input-placeholder {
   color: red;
   font-weight: 800;
}

:-moz-placeholder { /* Firefox 18- */
   color: red;
   font-weight: 800;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: red;
   font-weight: 800;
}

:-ms-input-placeholder {
   color: red;
   font-weight: 800;
}
